* {
    margin: 0;
    padding: 0;
    text-shadow: white 0 0 4px;
}
body{
    background-color: #808080;
    font-family: Helvetica, sans-serif;
}
header{
    display: flex;
    justify-content: left;
}
header > h1 {
    text-align: center;
    display: inline;
    font-size: 76px;
}
header > img {
    width: 76px;
    height: 80px;
    margin-right: 70px;
}
.main-content{
    overflow-x:hidden;
    display: flex;
    justify-content: space-between;
}
.left-content > h5 {
    margin-top: 25px;
    padding: 25px;
    font-size:50px;
}
.left-content > p {
    padding: 25px;
    font-size: 20px;
}   